body {
  margin: 20px;
  padding: 0;
}
.hero {
  margin-left: 5%;
  position: absolute;
  .vid-stream {
    img {
      width: auto;
      height: 100%;
    }
  }
  form {
    margin-left: 18%;
    position: relative;
    align-items: center;
    button {
      justify-items: center;
      font-size: 15px;
    }
  }
  .pred_text {
    position: absolute;
    margin-left: 45%; 
    font-size: 30px;
  }
}
